################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eliechammas/FileContentIndex/3929bae4-619f-4d1b-88d0-15b27cc9fd53.vsidx
/.vs/eliechammas/FileContentIndex/3aa4e78d-e163-47c9-be77-ad199d14059e.vsidx
/.vs/eliechammas/FileContentIndex/6d086b9b-5a6e-437b-9a49-787d34f7ff63.vsidx
/.vs/eliechammas/FileContentIndex/82115ef0-ae19-4d16-9ea4-50de43bd45b0.vsidx
/.vs/eliechammas/FileContentIndex/d01c7526-8a95-4458-86ff-7e2a93a2db24.vsidx
